{% extends 'login.html' %}

{% block head %} 
<style>
    option[id="hostel_name"]{
        background: cyan;
    }
</style>
{% endblock %}
{%block content %}
{{ super() }}
<div class="txt_field">
    <label>Your hostel name</label> <br><br>
<select name="hostelname" id="hostel_name">
    <option value="" id = "hostel_name">A</option>
</select>
    <span></span>
</div>
<div class="signup_link">
    Hostel Name not found? <br>
    <a href = "#">
       <small>Sign-up and get access</small>
    </a>
</div>
{% endblock %}

