<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% block title %}<title>Hostellite Dashboard</title> {% endblock %}
    <link rel="stylesheet" href="{{url_for('static',filename='dashboard_hostellite.css')}}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <style>
      .per{
        position: relative;
        max-width: 65%;
        margin-left: 180px;
        text-align: center;
        border: 6px solid aqua;
        border-radius: 20px;
      }
      a[id="tocen"]{
        padding-right: 45%;
        padding-left: 50%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="#" class="logo">
              <img src="https://imgs.search.brave.com/J0Qf01tOs4e_SLcUAve9f_WOxYYDoTHflPALjXxgrMg/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC50/ZzZUWkpzamZVR0o3/dmlTc2JYQ0JRSGFI/YSZwaWQ9QXBp" />
              <span class="nav-item">{{username}}</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-menorah"></i>
              <span class="nav-item">Dashboard</span>
            </a>
          </li>
          <li>
            {% block link %} 
            <a href="{{url_for('views.roomands')}}"> 
            {% endblock %}
              <i class="fas fa-comment"></i>
              <span class="nav-item">Queries</span>
            </a> 
          </li>
          <li>
            {% block link1 %} <a href="{{url_for('views.rent')}}"> {% endblock %}
              <i class="fas fa-database"></i>
              <span class="nav-item">Rent</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-cog"></i>
              <span class="nav-item">Setting</span>
            </a>
          </li>

          <li>
            <a href="#" class="logout">
              <i class="fas fa-sign-out-alt"></i>
              <span class="nav-item">Log out</span>
            </a>
          </li>
        </ul>
      </nav>

      <section class="main">
        <div class="main-top">
          <h1>Dashboard</h1>
          <i class="fas fa-user-cog"></i>
        </div>
        <div class="users">
          <div class="card">
            <div class="col">
              <img src="https://imgs.search.brave.com/J0Qf01tOs4e_SLcUAve9f_WOxYYDoTHflPALjXxgrMg/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC50/ZzZUWkpzamZVR0o3/dmlTc2JYQ0JRSGFI/YSZwaWQ9QXBp" />
              <h4>{{username}}</h4>
            </div>

            <div class="col">
              Hostel : {{hostel}}
              <br/>
            </div>

            <div class="per">
              <a href="{{url_for('auth.show_profile',username=username)}}" id="tocen">
            Profile
          </a>
            </div>
          </div>
        </div>
        {% block content %}
        <section class="attendance">
          <div class="attendance-list">
            <h1>Menu</h1>
            <table class="table">
              <thead>
                <tr>
                  <th>Food</th>
                  <th>type</th>
                  <th>Day</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                <tr>
                  <td>{{order.food}}</td>
                  <td>{{order.type}}</td>
                  <td>{{order.day}}</td>
                  <td><button>View</button></td>
                </tr>    
                {% endfor %}
              </tbody>
            </table>
          </div>
        </section>
      </section>
    </div>
    {% endblock %}
  </body>
</html>