{% extends 'dashboard_hostellite.html' %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='pay.css') }}">
{% endblock %}
{% block user %} {% endblock %}
{% block content %}
  <div class="c">
    <form>
      <h1 class="d">PAYMENT</h1>
      <p>Name: <input type="text" name="name" required /></p>

      <!-- section to add room number -->
      <p>Room number: <input type="text" name="room" required /></p>

      <p>Phone number: <input type="text" name="phone" required /></p>

      <p>Email: <input type="email" name="email" id="" required /></p>
      <h2 class="e">PAYMENT INFORMATION</h2>

      <!-- add a qr code image below-->
      <img src="{{ url_for('static', filename='qr.png') }}" alt="" /> <br />
      <br />

      <div class="add_file">
        <p>
          <u> Attach the screenshot of your payment :</u>
          <input type="file" id="add_file" required />
        </p>
      </div>
      <p>
        <input type="submit" value="Pay" />
      </p>
    </form>
  </div>
{% endblock %}
