<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment form</title>
    <link rel="stylesheet" href="static\pay.css" />
    <style>
      body {
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;
      }
      form {
        position: relative;
      }
      .c {
        width: min(80%, 700px);
      }

      img {
        width: 45%;
        height: 45%;
      }

      .add_file {
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
      }
    </style>
  </head>
  <body>
    <div class="c">
      <form>
        <h1 class="d">PAYMENT FORM</h1>
        <p>Name: <input type="text" name="name" required /></p>
        
        <!-- section to add room number -->
        <p>Room number: <input type="text" name="room" required /></p>
        
        <p>Phone number: <input type="text" name="phone" required /></p>

        <p>Email: <input type="email" name="email" id="" required /></p>
        <h2 class="e">PAYMENT INFORMATION</h2>

        <!-- add a qr code image below-->
        <img src="static\qr.png" alt="" /> <br> <br>

        <div class="add_file">
        <p>
         <u> Attach the screenshot of your payment :</u> <input type="file" id="add_file" required>
        </p>
      </div>
        <p>
          <input type="submit" value="Pay" />
        </p>
      </form>
    </div>
  </body>
</html>