{% extends 'RoomandServices.html' %}
{% block form %} {% endblock %}
{% block content %}
<style>
    .blocks{
        border: 2px solid blue;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
    }
    input[id="get"]{
        margin-left: 570px;
    }
</style>
<form action="{{url_for('auth.read_messages')}}" method="post">
    <input align = "center" type="submit" value="Get Queries" id="get">
</form>

{% for content in infos %}
<div class="blocks">
    <p>From : {{content.username}}</p>
    <p>Subject :  {{content.subject}}</p>
    <p>Query : {{content.info }}</p>
    </div>
{% endfor %}
{% endblock %}