<!-- @format -->

{% extends 'RoomandServices.html' %} {% block form %} {% endblock %} {% block
content %}

<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Phudu:wght@600&display=swap"
  rel="stylesheet"
/>

<style>
  body {
    font-family: "Phudu", cursive;
  }
  .blocks {
    font-family: "Phudu", cursive;
    border: 2px solid blue;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
  }
  input[id="get"] {
    color: white;
    font-size: 16px;
    font-family: "Phudu", cursive;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid blue;
    text-align: center;
    align-items: center;
    width: 100px;
    transition: 0.1s;
    /* align the button with h1 */
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: -10px;
  }
  input[id="get"]:hover {
    background-color: turquoise;
    color: teal;
    border: 3px solid teal;
  }
  /* align the heading to the center */
</style>
<form action="{{url_for('auth.read_messages')}}" method="post">
  <input align="center" type="submit" value="Get Queries" id="get" />
</form>

{% for content in infos %}
<div class="blocks">
  <p>From : {{content.username}}</p>
  <p>Subject : {{content.subject}}</p>
  <p>Query : {{content.info }}</p>
</div>
{% endfor %} {% endblock %}
