<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room & Services</title>
    <link rel="stylesheet" href="static\RoomandServices.css">
</head>
<body>
    {% block form %} <form method="post" action="{{url_for('auth.send_message')}}"> {% endblock %}
    <div>
    <h1>Room & Services</h1>
    {% block content %}
    <p>Name: <input type="text" name="username" placeholder="Enter Name" required></p>
    <p>Subject :  <input type="text" name="Subject" placeholder="Enter Subject" required></p>
    <p><textarea name="Query" id="" cols="80" rows="20" placeholder="Enter your Query Here" required></textarea></p>
    <p><input type="submit" value="Submit"></p>
    </form>
    {% endblock %}
</div>
</body>
</html>