<!-- @format -->

{% extends 'dashboard_hostellite.html' %} {% block title %}
<title>Warden dashboard</title> {% endblock %} 
{% block link %}<a href="{{url_for('views.message_for_warden')}}"> {% endblock %} </a>
{% block content %}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Phudu:wght@600&display=swap"
  rel="stylesheet"
/>

<style>
  .ql {
    font-family: "Phudu", cursive;
    text-align: center;
    font-size: 70px;
    color: rgb(0, 81, 255);
  }
  .links {
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .links > a {
    text-decoration: none;
    text-align: center;
    color: blue;
    padding: 10px;
    border: 2px solid rgb(0, 81, 255);
    border-radius: 10px;
    margin: 10px;
    transition: border 0.1s linear;
  }

  .links > a:hover {
    color: teal;
    border: 5px teal solid;
  }
</style>
<div class="ql">Quick Links <br /><br /></div>
<hr />
<div class="links">
  <a href="{{url_for('views.add_hostellite')}}" id="link1">Add Hostellite</a
  ><br />
  <a href="{{url_for('views.add_mess')}}" id="link2">ADD/UPDATE mess menu</a>
</div>
{% endblock %}
